<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jmt.fsapp">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission
        android:name="android.permission.CAMERA"
        android:screenOrientation="landscape" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.Light.NoActionBar">
        <activity android:name=".Activities.Combustible.SolicitudEstacion"></activity>
        <activity android:name=".Activities.EstacionesDeServicio" />
        <activity android:name=".Activities.Combustible.AutorizarSolicitudes" />
        <activity android:name=".Activities.Combustible.SolicitudesFianlizadas" />
        <activity android:name=".Activities.Combustible.SolicitudesPendientes" />
        <activity android:name=".Activities.Combustible.NuevaSolicitud" />
        <activity android:name=".Activities.Combustible.MenuEstacionesDeServicio" />
        <activity android:name=".Activities.Login.SignActivity" />
        <activity android:name=".Activities.User.ReciboDeSueldoViewer" />
        <activity android:name=".Activities.User.MisRecibosDeSueldo" />
        <activity android:name=".Activities.ParteDeMaquina" />
        <activity android:name=".Activities.Equipos.PerfilEquipo" />
        <activity android:name=".Activities.Equipos.AgregarEquipo" />
        <activity android:name=".Activities.User.CameraScanDoc" />
        <activity android:name=".Activities.User.InformacionPersonal" />
        <activity android:name=".Activities.Equipos.Equipos" />
        <activity
            android:name=".Activities.Login.Login"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.MainActivity"
            android:noHistory="true" />

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>